extends layout

block content
  h1= title

  if artist_list.length
    table(class="artist-table")
      each artist, index in artist_list
        if index % 3 === 0
          tr
        td(class="artist-item")
          a(href=artist.url) #{artist.name}
          span(class="artist-dates")
            if artist.date_of_birth && artist.date_of_death
              p (#{artist.date_of_birth_formatted} - #{artist.date_of_death_formatted})
            else if !artist.date_of_birth && !artist.date_of_death 
              p (No data available)  
            else 
              p (#{artist.date_of_birth_formatted} - Present)  
  else
    p There are no artists. Go to the sidebar to add an artist.
