extends layout

block content 
  h1(class='text-xl') #{title}
  dl(class="heading-text p-2 lg:p-6")
    h2 #{artPiece_detail.name}
    if artPiece_detail.image.data
      ul
        img(src=`data:${artPiece_detail.image.contentType};base64,${artPiece_detail.image.data.toString('base64')}`)(class="lg:w-60 lg:h-80")
    ul Artist: 
      a(href=artPiece_detail.artist.url) #{artPiece_detail.artist.name}
    ul Description: 
      | #{artPiece_detail.description}
    if artPiece_detail.genre[0]  
      ul Genre: 
        a(href=artPiece_detail.genre[0].url) #{artPiece_detail.genre[0].name}
    if seller
      ul Seller: 
        a(href=seller.url) #{seller.name}
    
    div(class="flex space-x-2")
      p 
        a(href=artPiece_detail.url+'/delete')(class="update-button") Update art piece
      p
        a(href=artPiece_detail.url+'/update')(class="delete-button") Delete art piece
