extends layout

block content 
  h1 #{title}
  h2 #{seller.name}
    for artist in seller.artists
      dl(style="font-size: large")
        a(href=artist.url) #{artist.name}
    ul Address: #{seller.address}

  p 
    a(href=seller.url+'/delete') Delete seller
  p
    a(href=seller.url+'/update') Update seller           