extends layout

block content
  h1 #{title}

  form(method='POST')
    div
      label(for='title') Name of the seller:
      input#name.form-control(type='text', placeholder='Artseller xyz Street-123' name='name' required value=(undefined===seller ? '' : seller.name) )
    div
      label(for='address') Address:
      input#address.form-control(type='text' name='address' value=(undefined===seller ? '' : seller.address) )
    div  
      label(for="artists") Affiliated artists:
      select#artists.form-control(type="text" name='artists' required)
        option(value='') --select an artist--
        for artist in artists
          if seller 
            if artist._id.toString()===artist._id.toString()
              option(value=artist._id selected) #{artist.name}
            else 
              option(value=artist._id) #{artist.name}
          else 
            option(value=artist._id) #{artist.name}
                
    button.btn.btn-primary(type='submit') Submit 

  if errors
    ul
      for error in errors
        li!= error.msg